ul{
	list-style: none;

}
li{
	margin: 5px;
}

.active{
	background-color: blue;
}

.p1-pair{
	background-color: #ff0000;
}

.p2-pair{
	background-color: green;
}

.flip-container {
	perspective: 1000;
}

.flip-container.flipped .flipper {
	transform: rotateY(180deg);
}

.flip-container, 
.front, 
.card {
	width: 200px;
	height: 250px;
	display: inline-block;
	float: left;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .card {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background-color: pink;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.card {
	width: 200px;
	height: 250px;
	transform: rotateY(180deg);
	background-color: #f2f2f2;
}