/*@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
// $(items).each(function(index, item){
// 	setTimeout(function(){
// 		$('#board').append(item);
// 	}, 300*index);	
// 	$('.flip-container').removeClass('animated bounceInLeft');
// });
*/
ul{
	list-style: none;

}
li{
	margin: 5px;
}

.wrapper {
	width: 960px;
	height: auto;
	margin: 0 auto;
}
body{
cursor: pointer;
}
.scoreboard{
	opacity: 0.8;
	position: fixed;
	top: 0;
	z-index: 3;   
	width: 960px;
	height: 100px;
	overflow: hidden;
	background: url('../images/blackboard.jpg') no-repeat center top / cover;
	/*border-radius: 0px 0px 5px 5px;*/

}
.centered{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;

}
#display{
	float: left;
	width: 420px;
	height: 100px;
	/*background-color: brown;*/
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 50px;
	margin-top:10px;
	color: #f2f2f2;
}
.p1score {
	float: left;
	width: 270px;
	/*background-color: red;*/
	height: 100px;
	font-family: 'Waiting for the Sunrise', cursive;
	color: #f2f2f2;
}
.p2score{
	float: left;
	width: 270px;
	/*background-color: green;*/
	height: 100px;
	font-family: 'Waiting for the Sunrise', cursive;
	color: #f2f2f2;
}
.score{
	font-size: 35px;
	  margin-top: 10px;
}
.scoreboard h2{
	font-size: 45px;
}
.board-content{
	/*border:2px solid #brown;*/
	float: left;
	width: 100%;
	height: 950px;
	background: url('../images/wood.jpg') repeat center center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 99px auto;
	cursor: pointer;
}

/*TRYING SOME CSS*/

.effect8
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 25px rgba(0,0,0,0.9);
    -moz-box-shadow:0 0 25px rgba(0,0,0,0.9);
    box-shadow:0 0 25px rgba(0,0,0,0.9);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
/*END OF CSS TEST*/


.board-wrapper{
	text-align: center;;
}
.active{
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

ul li.flip-container.p1-pair{
	z-index: 3;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(47,36,201,1);
	-moz-box-shadow: 0px 0px 9px 0px rgba(47,36,201,1);
	box-shadow: 0px 0px 9px 0px rgba(47,36,201,1);
}
.p1Turn{
	text-shadow: 0px 0px 9px rgba(47,36,201,1);
}
.p2Turn{
	text-shadow: 0px 0px 9px rgba(204,51,51,1);
}
ul li.flip-container.p2-pair{
	z-index: 3;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(204,51,51,1);
	-moz-box-shadow: 0px 0px 9px 0px rgba(204,51,51,1);
	box-shadow: 0px 0px 9px 0px rgba(204,51,51,1);
}

.flip-container {
	perspective: 1000;

}

.flip-container.flipped .flipper {
	transform: rotateY(180deg);
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.flip-container, 
.front, 
.card {
	width: 150px;
	height: 210px;
	display: inline-block;
	float: left;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	background: transparent;
}

/* hide back of pane during swap */
.front, .card {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.board-content, .card, .scoreboard{
	/*cursor: url('../images/hand.gif'), pointer;*/
}
/* front pane, placed above back */
.front {
	z-index: 2;
	background:url('http://vast-oasis-8333.herokuapp.com/images/card.png') no-repeat 0 0 / cover;
	/* for firefox 31 */
	transform: rotateY(0deg);
	color: #f2f2f2;
	
}

/* back, initially hidden pane */
.card {
	width: 150px;
	height: 210px;
	transform: rotateY(180deg);
	display: block;
	background: transparent;
}

#newGame {
	-moz-box-shadow: 0px 1px 0px 0px #9fb4f2;
	-webkit-box-shadow: 0px 1px 0px 0px #9fb4f2;
	box-shadow: 0px 1px 0px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	
	background-color:#7892c2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor: pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:9px 61px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	margin: 10px 0;
}
#newGame:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	
	background-color:#476e9e;
}
#newGame:active {
	position:relative;
	top:1px;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*Cards Background*/
.card-1{
	background:url('http://vast-oasis-8333.herokuapp.com/images/cat.gif') no-repeat center center / cover;
} 
.card-2{
	background:url('http://vast-oasis-8333.herokuapp.com/images/cats.gif') no-repeat center left / cover;
} 
.card-3{
	background:url('http://vast-oasis-8333.herokuapp.com/images/200.gif') no-repeat center center/ cover;
} 
.card-4{
	background:url('http://vast-oasis-8333.herokuapp.com/images/bridge.gif') no-repeat center center / cover;
} 
.card-5{
	background:url('http://vast-oasis-8333.herokuapp.com/images/cangroo.gif') no-repeat center center / cover;
} 
.card-6{
	background:url('http://vast-oasis-8333.herokuapp.com/images/giphy.gif') no-repeat center center / cover;
} 
.card-7{
	background:url('http://vast-oasis-8333.herokuapp.com/images/ice.gif') no-repeat center center / cover;
} 
.card-8{
	background:url('http://vast-oasis-8333.herokuapp.com/images/kick-chair.gif') no-repeat center center / cover;
} 
.card-9{
	background:url('http://vast-oasis-8333.herokuapp.com/images/kick.gif') no-repeat center center / cover;
} 
.card-10{
	background:url('http://vast-oasis-8333.herokuapp.com/images/lawn.gif') no-repeat center center / cover;
} 
.card-11{
	background:url('http://vast-oasis-8333.herokuapp.com/images/penguin.gif') no-repeat center center / cover;
} 
.card-12{
	background:url('http://vast-oasis-8333.herokuapp.com/images/rack-fail.gif') no-repeat center center / cover;
} 